<h1>Doctor#show</h1>
<%= @doctor.name %>
<%= @doctor.department %>
<% @doctor.appointments.each do|appointment|%>
<% @doctor_patient = @doctor.patients.find(appointment.patient_id)%>
<%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %>
<%= link_to @doctor_patient.name, patient_path(@doctor_patient)%>
<%end%>

