<%= @appointment.appointment_datetime.strftime('%B %d, %Y at %k:%M') %>
<p><%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor_id)%></p>
<p><%= link_to @appointment.patient_name, patient_path(@appointment.patient_id) %></p>
